@model Candidates

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Add Candidate
            </h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="First_Name"> First Name</label>
            <input asp-for="First_Name" class= "form-control"/>
        </div>

        <div class="mb-3">
            <label asp-for="Last_Name"> Last Name</label>
            <input asp-for="Last_Name" class="form-control" />
        </div>
        

         <div class="mb-3">
            <label  asp-for="Date_Of_Birth">Birth Date</label>
            <input asp-for="Date_Of_Birth" asp-format="{0:yyyy-MM-dd}"
                   class="form-control" placeholder="YYYY-MM-DD" type="text" />
                                                           @*add type="text"*@
          </div>

        <div class="mb-3">
            <label asp-for="Age">Age </label>
            <input type="text" id="age" asp-for="Age" disabled="disabled" class="form-control" />
        </div>
       
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
        @if (ViewData["Message"] != null)
        {
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-6">
                    <div class="alert alert- @ViewData["MsgType"]">
                        @Html.Raw(ViewData["Message"])
                    </div>
                </div>
            </div>
        }
    </div>
        
    
		
    
</form>

 @section Scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('#Date_Of_Birth')
                .datepicker({   
                    format: 'yyyy-MM-DD',
                    maxDate: '+0d',
                    yearRange: '1950:2025',
                    changeMonth: true,
                    changeYear: true,
                    onSelect: function (value, ui) {
                        var today = new Date(),
                            dob = new Date(value),
                            age = new Date(today - dob).getFullYear() - 1970;

                        $('#age').val(age); 
                    }
                });
        })

    </script>
}
    

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
