@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">A simple CRUD web app with minimal functionality & EF core</h1>
    <p>LinkedIn<a href="https://www.linkedin.com/in/eberebenny/">Visit</a>.</p>
    <p>Github<a href="https://github.com/tesseractT">Visit</a>.</p>
</div>
